.categories{
    margin-top: 20px;
    h3{
        margin: 10px;
        font-size: 17px;
    }
    h2{
        margin-top: 15px;
    }
    p{
        font-size: 11px;
        margin: 10px;
    }
}
.categoriesImg{
    @extend %borderRadius;
    width: 100%;
}
.album{
    margin: auto;
}
