.bodyContainer{
    background: linear-gradient(90deg, rgba(15,12,41,1) 0%, rgba(48,43,99,1) 100%);
}
.categories{
    background-color: rgba(0, 0, 0, 0.32);
    border-radius: 10px;
    padding: 20px;
}

.enlacesIndex{
    margin-top: 20px;
}